@using Fitnes.Storage.Repository 
@model  TrainingMachine
@{
    Layout = "_Layout";
}
@using (Html.BeginForm("Update", "TrainingMachine", FormMethod.Post)) {
    <fieldset class="container">
        <input type="hidden" name="id" value="@Model.TrainingMachineId" />
        <legend>Update data</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" required class="form-control" name="Name" id="name" aria-describedby="nameHelp" value="@Model.Name">
        </div>
        <div class="form-group">
            @if (Model.IsForHand == true) {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isForHand" value="true" name="IsForHand" checked>
                    <label class="custom-control-label" for="isForHand">Is for hand</label>
                </div>
            }
            else {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isForHand" value="true" name="IsForHand">
                    <label class="custom-control-label" for="isForHand">Is for hand</label>
                </div>
            }
            @if (Model.IsForLeg == true) {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isForLeg" value="true" name="IsForLeg" checked>
                    <label class="custom-control-label" for="isForLeg">Is for leg</label>
                </div>
            }
            else {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isForLeg" value="true" name="IsForLeg">
                    <label class="custom-control-label" for="isForLeg">Is for leg</label>
                </div>
            }
            @if (Model.IsForBack == true) {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isForBack" value="true" name="IsForBack" checked>
                    <label class="custom-control-label" for="isForBack">Is for back</label>
                </div>
            }
            else {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isForBack" value="true" name="IsForBack">
                    <label class="custom-control-label" for="isForBack">Is for back</label>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </fieldset>
}


