
@{
    Layout = "_Layout";
}
    <div>
        <h2 class="funny-title section-title">Фитнес центр Заря</h2>
    </div>
    <div class="info-text">
        <p>Добро пожаловать в наш фитнес центр, тут вы сможете просмотреть 
        всех наших клиентов, тренеров, работников и многое другое.</p>
        <div>
            <h4>Чтобы начать просмотр нажмите на кнопку с нужным вам разделом</h4>
        </div>
    </div>
