@{
    Layout = "_Layout";
}

@using (Html.BeginForm("Create", "Position", FormMethod.Post)) {
    <fieldset class="container">
        <legend>Update data</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" required class="form-control" name="Name" id="name" aria-describedby="nameHelp" value="">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </fieldset>
}
